# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# IDE
.vscode/
.idea/

# Local Utilities
deploy.py
check_logs.py
fix_db.py
clear_data.py
create_admin.py
